<a href="https://colab.research.google.com/github/yaminichandragiri/AI-journey-2026/blob/main/week-01/California_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
from sklearn.datasets import fetch_california_housing #sklearn.datasets module in the scikitlearn library that provide utilities to load and generate a variety of datasets for ML practice
from sklearn.model_selection import train_test_split  #train_test_spit is the function from sklearn.model_selection used to randomly partion a dataset into training and testing subsets
import pandas as pd

In [30]:

data=fetch_california_housing()

Convert to data frame :
the process of restructuring the data from various formtas(python lists, dictionaries,external files like csvs) into pandas data frame which two dimentional,tabular data structure used in python for data analysis

The code df = pd.DataFrame(data.data, columns=data.feature_names) creates a pandas DataFrame named df from existing data

*   pd.DataFrame(): create a two-dimensional, tabular data structure with labeled rows and columns, similar to a spreadsheet or SQL table.
*   data.data:his provides the actual raw data (likely a NumPy array) that will populate the rows and columns of the new DataFrame.


*   columns=data.feature_names:: This argument explicitly assigns labels (names) to each column of the DataFrame using the values from data.feature_names. This makes the data human-readable and easier to work with, as you can refer to columns by name rather than just their numerical index

In [31]:
#df=pd.DataFrame(data.data,columns=data.feature_names)
df = pd.DataFrame(data.data, columns=data.feature_names)
df['price']=data.target

In [32]:
print(df.shape) #rows and columns

(20640, 9)

In [33]:
print(df.head())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  price
0    -122.23  4.526
1    -122.22  3.585
2    -122.24  3.521
3    -122.25  3.413
4    -122.25  3.422

In [34]:
print(df.describe()) #statistical summery

             MedInc      HouseAge      AveRooms     AveBedrms    Population  \
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675   1425.476744
std        1.899822     12.585558      2.474173      0.473911   1132.462122
min        0.499900      1.000000      0.846154      0.333333      3.000000
25%        2.563400     18.000000      4.440716      1.006079    787.000000
50%        3.534800     29.000000      5.229129      1.048780   1166.000000
75%        4.743250     37.000000      6.052381      1.099526   1725.000000
max       15.000100     52.000000    141.909091     34.066667  35682.000000

           AveOccup      Latitude     Longitude         price
count  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.070655     35.631861   -119.569704      2.068558
std       10.386050      2.135952      2.003532      1.153956
min        0.692308     32.540000   -124.350000      0.149990
25%        2.429741     33.930000   -121.800000      1.196000
50%        2.818116     34.260000   -118.490000      1.797000
75%        3.282261     37.710000   -118.010000      2.647250
max     1243.333333     41.950000   -114.310000      5.000010

drop('Price') â†’ remove price column

axis=1 â†’ drop column (axis=0 means row)

So:
ðŸ‘‰ X contains ONLY input features.
drop() removes something from a DataFrame.

Now important part:

ðŸ”¸ What does axis=1 mean?

axis=0 â†’ drop rows

axis=1 â†’ drop columns

In [35]:
#Split Features and Target
x=df.drop('price',axis=1)

In [36]:
y=df['price']

In [37]:
x_train,x_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [38]:
print(f"Train size:{x_train.shape}")

Train size:(16512, 8)

In [39]:
print(f"test size:{x_test.shape}")

test size:(4128, 8)

# What is df.shape telling me?

*   df.shape tells the no.of rows and columns of the data set

# What is X and what is y?
x is feature and y is the target

# Why test_size=0.2?

test_size is 0.2 means use 20% of data for the testing, use 80% data for training

# What does random_state=42 do?
42 is just a seed number and it controls the randomness and same split every time will get reproducible results